---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Hello World</title>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
